#hero{
    display: flex;
    justify-content: center;
    flex-direction: column;

    height: 100vh;
    background-image: 
    linear-gradient(to right,rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.6) 40%, rgba(0,0,0,0.2) 70%, transparent 100%), 
    url('/imagens/38eb7b42-2695-46d4-bd80-ca17c15ee48b.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-left: 60px;
}
.principal{
    margin-top: 30px;

    section{
        display:flex;
        margin-top: 60px;
        margin-left: 50px;
        gap: 80px ; 

        #sessao:nth-of-type(2){
            width: 900px;
            
            .destaque{ /* criei essa class com o objetivo de editar somente parte do txt*/ 
                color: var(--azul-escuro);
                position: relative;
            }
            
            .destaque::after{ /* pra fazer o detalhe da barra azul em baixo*/
                content: "";
                display: block;
                width: 80px;
                height: 5px;
                background: var(--azul-escuro);
                margin: 8px;
            }
            .titulo-medio{
                font-size: 48px ;
                padding-bottom: 0px; /* fiz isso pq a class titulo medio tem 40px de bottom*/
            }
        }
    }  
}
/* cartões da parte principal*/
.txt-detalhe{
    font: 500 18px "Poppins", sans-serif;
    color: var(--azul-escuro);
    position: relative;
    letter-spacing: 3px;
}
.txt-detalhe::after{ 
    content: "";
  display: block;
  width: 60px; /* AQUI tu controla o tamanho */
  height: 3px; /* espessura */
  background: var(--azul-escuro);
  margin-top: 8px;
}

.icone-box { /* criando as imagems/icones do cartão*/
  width: 60px;
  height: 60px;
  background: rgba(0, 123, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icone-box svg { /*tamanho e cor do ico*/
  width: 28px;
  height: 28px;
  stroke: var(--azul-escuro);
}
.cardp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: solid 1px var(--azul-escuro);
    padding-right:40px;
    padding-left: 40px;
    .prg{
        font-size: 20px;
    }
    .prg:nth-of-type(2){ /*Organizando o texto dentro do cartão*/
        font-size: 12px;
        width: 150px;
    }
}
.cardp:last-child{ /*Tirando a borda do ultimo cartão*/
    border: none;
}
#cartoesp{/*Id criada pra diferenciar da sessao anterior*/
    gap: 0;
    margin-left: -40px;
    margin-top: 25px;
}
#final{
        display:flex;
        justify-content: center;
        align-items: center; 
        flex-direction: column;
        background-color: rgba(60, 164, 220, 0.1);;
        margin-top: 50px;
        /*Titulo da parte final*/
        .secao-titulo {
            text-align: center;
        }
        .subtitulo {
            color: #3b5bdb;
            font: var(--titulo-pequeno);
        }
        .linha {
            width: 60px;
            height: 4px;
            background: #3b5bdb;
            margin: 10px auto 0;
            border-radius: 2px;
        }
        .titulo-medio{
            padding-bottom: 0;
        }
        /*Titulo termina aqui*/

        .cartoes{ /* Cartões medios da parte final*/
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            margin-bottom: 40px;
            width: 1200px;
        }     
}
.cartao{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
    background-color: var(--white-font);
    border-radius: 5px;
    gap: 8px;
    padding-top: 15px;
    padding-left: 25px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    .prg:nth-of-type(1){
        font-weight: 800;
        font-size: 18px;
    }
    .prg:nth-of-type(2){
        font-size: 12px;
        color: rgb(105, 105, 105);
    }
}

.cartoes2{ /**/
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: space-around;
            width: 1400px;
            height: 125px;
            border-radius: 40px;
            background-color: var(--azul-escuro);
            .icone-boxg{
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                margin-right: 20px;
            }
            .icone-boxg svg {
                width: 50px;
                height: 50px;
                stroke: var(--white-font);
            }
            .prg{
                color: var(--white-font);
                font-weight: 200;
                font-size: 15px;
            }
            .titulo-pequeno{
                color: var(--white-font);
                font-size: 20px;
                font-weight: 600;
                padding-bottom: 0;
            }
            span{
                display: block;
                width: 190px;
                padding-right: 24px;
                border-right: solid 1px var(--white-font);
            }
            .cardp{
                display: flex;
                flex-direction: row;
                padding-left: 30px;/*alinhamento chato pra caramba*/
                padding-right: 30px;
                margin-left: -140px;
            }
            .cardp:nth-child(1){
                margin: 0;
            }
            .cardp:last-child{
                span{
                    border: none;
                    margin-right: -40px;/* alinhando no final pra ficar exatamente no centro*/
                    .prg{
                        font-size: 13px;
                    }
                }
            }
            margin-bottom: 100px;
}
