#hero{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    width: 100vw;
    height: 100vh;
    background-image: 
    linear-gradient(to right,rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.6) 40%, rgba(0,0,0,0.2) 70%, transparent 100%), 
    url('/imagens/38eb7b42-2695-46d4-bd80-ca17c15ee48b.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-left: 100px;
}


