@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



*{
    padding: 0;
    margin: 0;
}

:root{
    --azul-escuro: #26348B;
    --azul-claro:#3CA4DC;
    --destaque: 800;
    --cor-botao: #0056b3;
    --cor-botao-hover:#004494;
    --font-color: #1D1D1B;
    --white-font: #ffff;
    --titulo-grande: 800 64px "Poppins" , sans-serif;
    --titulo-medio: 700 36px "Poppins" , sans-serif;
    --titulo-pequeno:500 24px "Poppins", sans-serif;
    --font-prg: 400 16px "Inter", sans-serif; 
}
.bntdefault{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    width: 150px;
    text-decoration: none;
    border-radius: 50px;
    color: var(--white-font);
    padding: 15px;
    background-color: var(--cor-botao);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    transform:scale(1.05);
    font-weight:600 ;
    font-family: var(--font-family);
    animation-delay: 1s;
}
.bntdefault:hover{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 50px;
    color: var(--white-font);
    padding: 15px;
    background-color: var(--cor-botao-hover);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    font-weight:600 ;
    font-family: var(--font-family);
}
body{
    width: 100%;
    height: 100vh;
}
.font-azul-escuro{
    color: var(--azul-escuro);
}
.font-azul-claro{
    color: var(--azul-claro);
}
.font-branca{
    color: var(--white-font);
}
.titulo-grande{
    font: var(--titulo-grande);
    letter-spacing: 2px;
    padding-bottom: 40px;
    line-height: 1.1;
    max-width: 500px;
    animation-delay: 0.2s;
}
.titulo-medio{
    font: var(--titulo-medio);
    letter-spacing: 1px;
    padding-bottom: 40px;
}
.titulo-medio:nth-of-type(1) {
  animation-delay: 0.4s;
}
.titulo-medio:nth-of-type(2) {
  animation-delay: 0.6s;
}

.titulo-pequeno{
    font: var(--titulo-pequeno);
    letter-spacing: 0.5px;
    padding-bottom: 40px;
    animation-delay: 0.8s;
}
.destaque{
    font-weight: var(--destaque);
}

.fade-left {/*animação simples pros titulos*/
  opacity: 0;
  transform: translateY(20px);
  animation: fadeLeft 0.8s ease forwards;
}

@keyframes fadeLeft {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.prg{
    font: var(--font-prg); /*texto simples*/
}
.img-section{   /*imagem da sessão principal da primeira pagina*/
    width: 700px;   
    height: 500px;
    border-radius: 20px;  
}
.nav{
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    background-color: var(--white-font);
    gap: 15px;   
    padding-top: 10px;
    background-color: rgba(45, 58, 140, 0.95);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    backdrop-filter: blur(8px);
    span{
        display: flex;
        width:700px;
        height:100% ;
        gap: 100px;
    }
    img{
        margin-left: 40px;
        margin-bottom: 10px;
    }
}
.bntnav{
    text-decoration: none;
    color: var(--white-font);
    font-size: 18px;  
    position: relative;  
}
.bntnav:hover{
    color: var(--azul-claro);
}
.bntnav::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  bottom: 10px;
  height: 2px;
  background: var(--azul-claro);

  transition: 0.3s ease;
}

.bntnav:hover::after {
  width: 100%;
}

.bntlogin{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    height: 5px;
    width: 90px;
    margin-right: 30px;
    text-decoration: none;
    border-radius: 50px;
    color: var(--font-color);
    padding: 15px;
    background-color: var(--white-font);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    transform:scale(1.05);
    font-weight:600 ;
    font-family: var(--font-family);
    animation-delay: 1s;
    transition: 0.3s ease;
}

.bntlogin:hover{
    background: var(--cor-botao);
    color: white;
}
